html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.grass, .sky, .road{
    position: relative;
}

.sky{
    height: 40%;
    background-color: skyblue;
}

.grass{
    height: 30%;
    background-color: seagreen;
}

.road{
    height: 30%;
    background-color: dimgrey;
    box-sizing: border-box;
    border-top: 10px solid gray;
    border-bottom: 10px solid gray;
    width: 100%;
}

.lines{
    box-sizing: border-box;
    border: 5px dashed #fff;
    height: 0px;
    width: 100%;
    position: absolute;
    top: 45%
}

.mario{
    z-index: 10;
    position: absolute;
    top: -40px;
    left: 0px;
    animation: drive 5s both infinite linear,
               jump 1.5s 1.2s ease;
}

.luigi{
    position: absolute;
    top: 70px;
    left: 0;
    animation-name: drive;
    animation-duration: 6.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    z-index: 11;
    animation-timing-function: linear;
}

.cloud{
    position: absolute;
}

.cloud:nth-child(1){
    width: 200px;
    top:120px;
    opacity: 0.5;
    animation: wind 60s linear infinite reverse;
}

.cloud:nth-child(2){
    width: 300px;
    top: 0;
    animation: wind 45s linear infinite reverse;
}

@keyframes wind {
    from{
        left:-300px;
    }
    to{
        left: 100%;
    }
}

@keyframes drive{
    from{ transform: translateX(-200px);}

    to{transform: translateX(1700px);}
}

@keyframes jump {
    0%{
        top: -40px;
    }

    50%{
        top: -150px;
    }

    100%{
        top: -40px;
    }
}

@media screen and (max-width: 1200px){
    @keyframes drive{
        from{ transform: translateX(-200px);}
    
        to{transform: translateX(1400px);}
    }
}

@media screen and (max-width: 770px){
    @keyframes drive{
        from{ transform: translateX(-200px);}
    
        to{transform: translateX(900px);}
    }

    .mario{
        animation-duration: 4s;
    }

    .luigi{
        animation-duration: 5s;
    }

    .cloud:nth-child(1){
        animation-duration: 50s;
    }

    .cloud:nth-child(2){
        animation-duration: 40s;
    }
}

@media screen and (max-width: 450px){
    @keyframes drive{
        from{ transform: translateX(-200px);}
    
        to{transform: translateX(600px);}
    }

    .mario{
        animation-duration: 4s;
    }

    .luigi{
        animation-duration: 5s;
    }

    .cloud:nth-child(1){
        animation-duration: 40s;
    }

    .cloud:nth-child(2){
        animation-duration: 30s;
    }
}